/*
Overwriting of styles.css
*/
#logo img {
    display: inline;
}
a:hover, a:focus {
    color: #FFF;
}

body.logged-in.admin-bar{
   margin-top: 32px;
}

#trans-bg,
#bg-fade-in {
    position: absolute;
    z-index: -2;
    opacity: 0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    min-height: 100%;
    min-width:100%;
}
#bg-fade-in {
    opacity: 1;
    z-index: -1;
}

/*
News
 */
.coulrophobia-news-item {
    margin-bottom: 30px;
}

.coulrophobia-news-header{
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #333;
}

.coulrophobia-news-header h3{
    font-size: 18px;
    color: #bcb759;
}

.coulrophobia-news-content{
    position: relative;
    margin-bottom: 5px;
    min-height: 160px;

}

.coulrophobia-news-content:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.coulrophobia-news-content-thumbnail-padding {
    padding-left: 160px;
}

@media (max-width: 786px) {

    .coulrophobia-news-content-thumbnail-padding {
        padding-left: 0;
    }

    .coulrophobia-news-img-wrap {
        display: none;
    }
}

.coulrophobia-news-footer {
    clear: both;
    padding: 5px 0 0 0;
    border-top: 1px dashed #333;
    text-align: right;
}

.coulrophobia-news-author,
.coulrophobia-news-date {
    color: #666;
    font-size: 11px;
}


.coulrophobia-news-img-wrap {
    position: absolute;
    left : 0;
    top: 5px;
}

/*
Tourdates
 */
.coulrophobia-tourdate-list-item,
.coulrophobia-tourdate-list-item-widget,
.coulrophobia-tourdate-list-item-widget-inactive,
.coulrophobia-tourdate-single-item  {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    margin-bottom: 12px;
    border: 1px dashed #333;
}

.coulrophobia-tourdate-list-item-widget,
.coulrophobia-tourdate-list-item-widget-inactive {
    margin-bottom: 8px;
    padding: 5px;
    color: #999;
}

.coulrophobia-tourdate-list-item-widget:hover {
    border: 1px dashed #999;
    color: #999;
    cursor: pointer;
}
.coulrophobia-tourdate-list-item-widget .fa {
    font-size: 6px;
}

.coulrophobia-tourdate-single-item h3 {
    margin-top: 30px;
}

.coulrophobia-tourdate-title {
    font-size: 20px;
}

.coulrophobia-tourdate-title-widget {
    font-size: 18px;
}

.coulrophobia-tourdate-date-day-widget {
    font-size: 20px;
}

.coulrophobia-tourdate-date-month-widget {
    font-size: 14px;
}

.coulrophobia-tourdate-img-wrapper {
    margin-top: 1px;
    border-left: 2px solid;
}

.coulrophobia-tourdate-single-img-wrapper {
    margin-right: 10px;
    width: 20%;
    height: 100%;
    float: left;
}

.coulrophobia-tourdate-img-wrapper a:hover img{
    box-shadow: -1px 1px 8px #e2dc5a, 1px -1px 8px #e2dc5a;
}

.coulrophobia-tourdate-date-wrapper {
    line-height: 1;
    margin-top: 5px;
}

.coulrophobia-tourdate-date-day {
    font-size: 24px;
}

.coulrophobia-tourdate-date-month {
    font-size: 15px;
}

.coulrophobia-tourdate-actionitem-wrapper {
    font-size: 24px;
    /*white-space: nowrap;*/
    margin-top: 5px;

}

.coulrophobia-tourdate-actionitem {
    margin: 0 7px 0 7px;
}




/*Tooltips*/

.tooltip.top .tooltip-inner {
    background-color: #e2dc5a;
    color: #000;
    font-size: 15px;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #e2dc5a;
}

/*Iconbar*/

#iconbar{ top: 20px; right: 20px;}

/*Navigation*/

.navbar-default {
     background-color: transparent;
     border-color: transparent;
     margin-bottom: 0;
}


.navbar-collapse {
    max-height: none;
    padding-left: 0;
}


@media(max-width:768px){
    .navbar-collapse {
        padding-left: 20px;
    }

}

.navbar-default .navbar-nav li a {
    color: #bcb759;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
    color: #bcb759;
    background-color: rgba(255,255,255,0.2);
    text-shadow: none;
}
.navbar-default .dropdown-menu {
    background-color: rgba(0,0,0,0.8);
    border-color: rgba(0,0,0,0.8);
}
.navbar-default .dropdown-menu li a {

    font-size: 18px;
}

.navbar-toggle {
    box-shadow: none;
    margin-bottom: 10px;
    outline-color: transparent;
}

input, button, div {
    outline-color: transparent;
}


/*Subpage with right Sidebar Navigation*/
.sidbar-nav-box {
    position: relative;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 12px;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.nav-box-bg-img{
    opacity: 0.5;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.sidbar-nav-box a{
    color: #999;
    text-shadow: none;
}
.sidbar-nav-box a:hover{
    color: #bcb759;
}

.sidbar-nav-box:hover img{
    opacity: 1;

}

#sidbar-nav-box-current img {
    opacity: 1;
}

#sidbar-nav-box-current a {
    opacity: 1;
    color: #bcb759;
}

#sidbar-nav-box-current{
    box-shadow: -1px 1px 8px #e2dc5a, 1px -1px 8px #e2dc5a;

    opacity: 1;
}


.sidbar-nav-box .text-wrapper {
    padding: 10px;
    background-color: rgba(0,0,0,0.8);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/*Sidbar Nav bandmembers*/
.navbox-bandmembers {
    height: 150px;
}

.imageWrapperBandmembers {
    opacity: 0.5;
}

.imageWrapperBandmembers {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.navbox-bandmembers:hover .imageWrapperBandmembers {
    opacity: 1;
}


/* Responsive Youtube Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#frontpage-sidebar h2,
#shop-sidebar-right h2,
#sidebar h2
{
}

h2 {
    border: 1px solid #333;
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    padding: 10px 5px;
    color: #999;
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #CCC;
}

.pagination {
    display: block;
    text-align: right;
}

.page-numbers {
    background-color: rgba(0,0,0,0.6);
    padding: 10px 10px;
    color: #999;
    font-size: 15px;
    margin: 0;
    min-width: 20px;
    border: 1px dashed #333;
}
.page-numbers:hover {
    border: 1px dashed #999;
    background-color: rgba(0,0,0,0.9);
    color: #999;
    text-shadow: none;
}


.page-numbers.prev,
.page-numbers.next {
    padding: 10px 5px;
}

.page-numbers.current {
    background-color: rgba(0,0,0,0.9);
    border: 1px solid #999;
    color: #999;
    font-weight: bold;
}

.frontpage-sidebar-item,
.news-sidebar-item
.shop-sidebar-item {
    margin-bottom: 30px;
    overflow: hidden; /*Because FB-Plugin adepts only on loading, not resizing*/
}


.no-top-margin {
    margin-top: 0;
}

/* Shop */
.shop-sidebar-item ul.product-categories ,
.news-sidebar-item ul {
    list-style: none;
}

ul.product-categories li,
.news-sidebar-item ul li {
    border: 1px dashed #333;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(0,0,0,0.6);
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.panel {
    background-color: transparent;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt{
    color: #FFF;
    text-align: center;
    background-color: #900000;
}

input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #971F1F;
    color: #FFF;
    text-shadow: -1px 1px 8px #e2dc5a, 1px -1px 8px #e2dc5a;
}

.btn:hover {
}

.products>.product:hover {
    color: #FFF;
}


.description_tab .active {
    background: #333;
}

.woocommerce .woocommerce-breadcrumb {
    margin-bottom: 15px;
}

.products {
    margin-top: 15px;
}

.woocommerce .woocommerce-breadcrumb a:hover {
    color: #FFF;
}

.woocommerce a.remove:hover {
    background: transparent;
}

dl.variation dt {
    float:left;
    font-weight: normal;
}

.wc-tabs {
    display: none!important;
}

#reviews {
    display: none;
}

dl.variation {
    margin-bottom: 0;
}

dl.variation p{
    margin-bottom: 0;
}


.mini_cart_item {
    background-color: rgba(0,0,0,0.6);
    padding: 4px;
    margin-bottom: 12px;
    border: 1px dashed #333;
}
.woocommerce a.remove {
    color: #e2dc5a!important;;
}




.minicart-titlewrap,
.minicart-quantitywrap {
    font-weight: bold;
    font-size: 1.1em;
}

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: auto;
}

.woocommerce ul.products li.product .price del {
    display: inline;
    margin-right: 5px;
}

.woocommerce ul.products li.product h3 {
    text-align: center;
}

.woocommerce ul.products li.product .price {
    text-align: center;
}

.woocommerce ul.products li.product .button {
    display: none;
}

li.product a.hover>h3 {
    color: #FFF!important;
}

.onsale {
    display: none;
}
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    background-color: rgba(0,0,0,0.6);
    border: 1px dashed #333;
    color: #CCC;
    margin-bottom: 30px;
}

.woocommerce-message a.button {
    display: none;
}

.woocommerce-result-count {
    float: none;
}

.woocommerce table.shop_table tr th{
    /*border-bottom: 1px solid #333;*/
    /*background-color: rgba(0,0,0,0.9);*/
    padding: 10px 15px;
    font-size: 16px;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #999;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background-color: #CCC;
}

td .quantity {
    display: inline;
}

.woocommerce input {
    padding: 10px;
}

.woocommerce input.qty {
    padding: 5px;
}

.woocommerce-shipping-fields {
    display: none;
}

.payment_method_bacs label, .payment_method_paypal label {
    color: #515151;
}

.woocommerce form.checkout_coupon {
    background-color: rgba(0,0,0,0.6);
    border: 1px dashed #333;
}

.woocommerce form.checkout_coupon p {
    margin: 0;
}

.woocommerce ul.products li.product a:hover>h3 {
    color: #FFF;
}

.product_list_widget li.empty {
    list-style: none;
}

.woocommerce-checkout #payment {
    border-radius: 0;
    background: #E0DFE0;
}

.woocommerce-checkout #payment div.payment_box {
    background: #CFCFCF;

}
.woocommerce-checkout #payment div.payment_box:after {
    content: "";
    display: block;
    border: 8px solid #CFCFCF;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -3px;
    left: 0;
    margin: -1em 0 0 2em;
}

.woocommerce .order_details li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: .9em;
    line-height: 1;
    border-right: 1px dashed #d3ced2;
    padding: 15px;
    margin-left: 0;
    padding-left: 0;
}

/* Bootstrap override */
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
    overflow: hidden;
}
.panel-default {
    border-color: #dddddd;
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-default>.panel-heading {
    border: 1px solid #333;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    padding: 10px 5px;
    color: #999;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #CCC;
}
.panel-default>.panel-heading>h4 {
    font-size: 18px;
}
.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top: transparent;
}
.panel-body {
     padding: 15px 0;
}

.panel-title>a>.fa {
    font-size: 20px;
    margin: 0 5px;
}

#accordion {
    margin-bottom: 15px;
}

.fadeImageIn {
    opacity: 0;
}

.breadcrumbHeading>a {
    color: #777;
}

.screen-reader-text {
    display: none;
}